{% extends "layout.html" %}
{% block content_title %}{% endblock %}
{% block body_attributes %}class="wallpaper"{% endblock %}
{% block body %}
<div class="image-container">
    <img class="image" alt="Mesa com Computador" src="{{ SITEURL }}/theme/images/computer.svg"/>
</div>
<main class="title-container">
    <h1>{{SITENAME}}</h1>
    <h2>{{SITESUBTITLE}}</h2>
    <ul class="social links">
        <li><a href="{{ SITEURL }}/blog/">Blog</a></li>
        {% for name, link in SOCIAL %}
        <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
